
@import base.sass

body
  :background-color= !color_bg_body
  :color= !color_fg_body
  :font-family= !font_stack_helvetica  
  :line-height 1.4
  
h1
  :color= !color_fg_h1
  :text-shadow= 0px 1px 1px !color_fg_h1_shadow
  :letter-spacing -0.04em
  :line-height 1
  strong
    :display block
    :font-weight bold
    :font-size 0.9em

h1.icon
  :font-size 4.2em
  :padding-left 128px

h1.icon.activation
  :background= "transparent" !icon_activation "no-repeat scroll 0 0"

h2
  :color= !color_fg_h2
  :text-shadow= 0px 1px 1px !color_fg_h2_shadow
  :font-size 1.6em
  
#header-content, #trunk-content, #footer-content
  +grid-container
  :padding-top 1em
  :padding-bottom 1em
  :clear both

#nav-content
  +grid-container
  :clear both
  :margin-bottom 2em

#logo
  :background-color white
  :padding 20px
  +box-shadow("0px 1px 16px #000")

#login-box
  :width 500px

.box
  +box-shadow("1px 1px 8px #222")
  :background-color #dcdcdc
  +border-radius("10px")
  :padding 1em
  :color= !color_fg_box_body
  :text-shadow= 0px 1px 1px !color_fg_box_body_shadow

#login-or-register .box
  +grid(5, 12)



//form.awesome
  span.wrap
    position: relative

    label
      position: absolute
      left: 4px
      top: 4px
      font-size: 18px
      font-weight: normal
      width: 264px
      height: 30px
      background: #fff
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      z-index: 1
      line-height: 27px

      span
        position: relative
        top: 1px
        left: 1px

  input.input-text
    font-size: 18px
    padding: 4px 5px
    background: none
    position: relative
    z-index: 10


//label
  &.overlay span
    opacity: 0.4
    -webkit-transition: opacity 200ms linear

  &.focus span
    opacity: 0.2

  &.hastext span
    opacity: 0.0
    -webkit-transition: opacity 0ms linear
