{% extends "base.html" %}

{% block navlink_activate_attributes %}class="selected"{% end %}

{% block tag_header_content %}
  <h1 class="icon activate">Activate Products <strong>Provide credentials.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div class="box">
    <h2>Product activation credentials.</h2>
    <p>Please provide your serial numbers and machine IDs.</p>
    <form id="form-activation-credentials" class="decorated-fields tabular" method="POST" action="/activate/credentials">
      {% for unit in units %}
      <fieldset>
        <legend>{{ unit.title }}, {{ unit.subtitle }}</legend>
        <label for="u_{{ unit.key().id() }}_serial_number">
          <span class="prefix">serial number</span>
          <input type="text" name="u_{{ unit.key().id() }}_serial_number" value="" />
          <span class="suffix"></span>
        </label>
        <label for="u_{{ unit.key().id() }}_machine_id">
          <span class="prefix">machine id</span>
          <input type="text" name="u_{{ unit.key().id() }}_machine_id" value="" />
          <span class="suffix"></span>
        </label>
      </fieldset>
      {% end %}

      {% for basket in baskets %}
          {% for unit in basket.products %}
          <fieldset>
            <legend>{{ unit.title }}, {{ unit.subtitle }} (in {{ basket.title }})</legend>
            <label for="b_{{ basket.key().id() }}_u_{{ unit.key().id() }}_serial_number">
              <span class="prefix">serial number</span>
              <input type="text" name="b_{{ basket.key().id() }}_u_{{ unit.key().id() }}_serial_number" value="" />
              <span class="suffix"></span>
            </label>
            <label for="b_{{ basket.key().id() }}_u_{{ unit.key().id() }}_machine_id">
              <span class="prefix">machine id</span>
              <input type="text" name="b_{{ basket.key().id() }}_u_{{ unit.key().id() }}_machine_id" value="" />
              <span class="suffix"></span>
            </label>
          </fieldset>
          {% end %}
      {% end %}

      <input type="submit" name="continue" class="awesome-button large fresh" value="&#10004; Continue" />
    </form>
  </div>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
