{% extends "base.html" %}

{% block navlink_activate_attributes %}class="selected"{% end %}

{% block tag_header_content %}
  <h1 class="icon activate">Activate Products <strong>Confirm activations.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div class="box">
    <h2>Please confirm your selection.</h2>
    <p>If you choose to proceed, your credit card or payment account will be charged the following amount monthly.</p>
    <table class="classic" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Subscription Name</th>
          <th>Period (Months)</th>
          <th>Price</th>
          <th>General Sales Tax (GST)</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <tbody>
        {% for order in invoice.orders %}
        <tr>
          <td>{{ order.subscription.product.title }} ({{ order.subscription.product.subtitle }})</td>
          <td>{{ order.subscription_period_in_months }}</td>
          <td>{{ order.subscription_price }} {{ order.subscription_currency }}</td>
          <td>{{ order.subscription_general_sales_tax }} {{ order.subscription_currency }}</td>
          <td>{{ order.price }} {{ order.subscription_currency }}</td>
        </tr>
        {% end %}
        <tr>
          <th class="right" colspan="4">Total Price</th>
          <td class="large">{{ invoice.total_price }} {{ invoice.currency }}</td>
        </tr>
        <tr>
          <th class="right" colspan="4"></th>
          <td class="paypal_button">
              <form action="{{ PAYPAL_POST_URL }}" method="post">
                  <input type="hidden" name="cmd" value="_xclick-subscriptions" />
                  <input type="hidden" name="business" value="{{ PAYPAL_MERCHANT_EMAIL }}" />
                  <input type="hidden" name="currency_code" value="{{ invoice.currency }}" />
                  <input type="hidden" name="item_name" value="Subscriptions: {% for order in invoice.orders %}{{ order.subscription.key().id() }}, {% end %}" />
                  <input type="hidden" name="notify_url" value="{{ PAYPAL_NOTIFY_URL }}" />
                  #*<input type="hidden" name="return" value="{{ return_url }}" />*#
                  <input type="hidden" name="no_shipping" value="1" />
                  <input type="image" src="{{ PAYPAL_BUTTON_IMAGE_URL }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online." />
                  
                  #* Trial (may be free) price and period*#
                  <input type="hidden" name="a1" value="0" />
                  <input type="hidden" name="p1" value="{{ subscription_period.free_period_in_months }}" />
                  <input type="hidden" name="t1" value="M" />
                  
                  #* Regular recurring price and period *#
                  <input type="hidden" name="a3" value="{{ invoice.total_price }}" />
                  <input type="hidden" name="p3" value="{{ subscription_period.period_in_months }}" />
                  <input type="hidden" name="t3" value="M" />
                  
                  <input type="hidden" name="src" value="1" />
                  <input type="hidden" name="sra" value="1" />
                  
                  <input type="hidden" name="invoice" value="{{ invoice.key().id() }}" />
                  <input type="hidden" name="no_note" value="1" />
              </form>
          </td>    
        </tr>
      </tbody>
    </table>
  </div>
{% end %}
