{% extends "base.html" %}

{% block navlink_activate_attributes %}class="selected"{% end %}

{% block tag_header_content %}
  <h1 class="icon activate">Activate Products <strong>Click any.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div id="input-serial-number" class="panel box">
    <p>Please enter your Serial number and Machine ID or Site Code to activate the product</p>
    <form id="form-unsubscribe-products" class="decorated-fields tabular" action="" method="POST">
      <input type="hidden" name="product-id" value="" />
      <label for="serial-number">
        <span class="prefix">Serial Number</span>
        <input type="text" name="serial-number" value="" />
        <span class="suffix"></span>
      </label>
      <label for="machine-id">
        <span class="prefix">Machine ID or Site Code</span>
        <input type="text" name="machine-id" value="" />
        <span class="suffix"></span>
      </label>
      <label for="Activation-amount">
        <span class="prefix">Activation Amount</span>
        <span class="suffix">Some Amount</span>
      </label>
      <input type="button" id="activate-product-button" name="add-product" class="awesome-button fresh" value="+ Activate Product" />
      <input type="button" id="cancel-button" name="unload-form" class="awesome-button fresh cancel-button"  value="+ Cancel" onClick/>
    </form>
  </div>
  <div class="darkbox">
    <ul id="products" class="image-grid">
      {% for product in products %}
      <li>
        <a id="{{ product.key().id() }}" href="#{{ product.key().id() }}">
          <img src="{{ product.icon_url }}" />
          <strong>{{ product.title }}</strong>
          <span>{{ product.subtitle }}</span>
        </a>
      </li>
      {% end %}
    </ul>
  </div>
  <form id="form-activate-products" class="decorated-fields vertical">
    <input type="submit" name="activate" class="awesome-button fresh large" value="&#10003; Activate" />
  </form>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
