{% extends "base.html" %}

{% block navlink_activate_attributes %}class="selected"{% end %}

{% block tag_header_content %}
  <h1 class="icon activate">Activate Products <strong>Confirm activations.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div class="box">
    <h2>Please confirm your selection.</h2>
    <p>If you choose to proceed, your credit card or payment account will be charged the following amount monthly.</p>
    <table class="classic" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Billing Price</th>
          <th>General Sales Tax (GST)</th>
          <th>Product Price</th>
        </tr>
      </thead>
      <tbody>
        {% for order in invoice.orders %}
        <tr>
          <td>{{ order.product.title }} ({{ order.product.subtitle }})</td>
          <td>{{ order.billing_price }} {{ order.currency }}</td>
          <td>{{ order.billing_gst }} {{ order.currency }}</td>
          <td>{{ order.total_price }} {{ order.currency }}</td>
        </tr>
        {% end %}
        <tr>
          <th class="right" colspan="3">Total Price</th>
          <td class="large">{{ invoice.total_price }} {{ invoice.currency }}</td>
        </tr>
        <tr>
          <th class="right" colspan="3"></th>
          <td class="paypal_button">
              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                  <input type="hidden" name="cmd" value="_xclick-subscriptions">
                  <input type="hidden" name="business" value="seller_1271087231_biz@happychickoo.com">
                  <input type="hidden" name="currency_code" value="AUD">
                  <input type="hidden" name="item_name" value="Maths Worldwide">
                  <input type="hidden" name="return" value="https://www.mww-subscription.appspot.com/">
                  <input type="hidden" name="no_shipping" value="1">
                  <input type="image" src="https://www.sandbox.paypal.com/en_AU/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
                  <input type="hidden" name="a3" value="{{ invoice.total_price }}">
                  <input type="hidden" name="p3" value="1">
                  <input type="hidden" name="t3" value="M">
                  <input type="hidden" name="src" value="1">
                  <input type="hidden" name="sra" value="1">
              </form>
          </td>    
        </tr>
      </tbody>
    </table>
  </div>
{% end %}
