{% extends "base.html" %}

{% block tag_header_content %}
  <h1 class="icon deinstall">Deinstallation for <strong>Junior/Primary/Senior/English Story</strong></h1>
{% end %}

{% block tag_trunk_content %}
<div id="deinstall-maths-english" class="box">
  <h2>Just a minute.  Thank you.</h2>
  <p>Before deinstalling software, please follow these instructions.</p>
  <h3>Backup existing scores</h3>
  <ol class="decimal steps">
    <li>
        <div class="content">
            <p><strong> Upload your scores.</strong> <code>Start &gt; Programs &gt; The Interactive Classroom &gt; Scores Upload</code></p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
        <p>Click on the <code>Backup Scores</code> button.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p>Then click on the <code>Change</code> button.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p><strong>Pick a location.</strong> From the screen that appears, choose <strong>Drive</strong> and then select either your USB Disk or your Floppy Drive (e.g., A:) to copy the scores to.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
        <p>Click <code>OK</code>, and then click the <code>Backup</code> button.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p>Wait a moment until you receive this message:</p>
            <blockquote>Your scores have been successfully copied.</blockquote>
        </div>
        <div class="illustration">
            Some image
        </div>
    </li>
    <li>
        <div class="content">
        Finish.  Now you may proceed with de-installing the software.
        </div>
        <div class="illustration">
        </div>
    </li>
  </ol>
  <h3>De-install software</h3>
  <ol class="decimal steps">
    <li>
        <div class="content">
        Step 1
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
        Step 2
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
  </ol>
</div>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}

