{% extends "base.html" %}

{% block tag_header_content %}
  <h1 class="icon deinstall">Deinstallation for <strong>Junior/Primary/Senior/English Story</strong></h1>
{% end %}

{% block tag_trunk_content %}
<div id="deinstall-maths-english" class="box">
  <h2>Just a minute.  Thank you.</h2>
  <p>Before deinstalling software, please follow these instructions.</p>
  <h3>Backup existing scores</h3>
  <ol class="decimal steps">
    <li>
        <div class="content">
            <p>Open <code>Start menu &gt; Programs &gt; The Interactive Classroom &gt; Scores Upload</code></p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
        <p>Click on the <code>Backup Scores</code> button.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p>Then click on the <code>Change</code> button.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p><strong>Pick a location.</strong> From the screen that appears, choose <code>Drive</code> and then select either your USB Disk or your Floppy Drive (e.g., A:) to copy the scores to.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
        <p>Click <code>OK</code>, and then click the <code>Backup</code> button.</p>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p>Wait a moment until you receive this message:</p>
            <blockquote>Your scores have been successfully copied.</blockquote>
        </div>
        <div class="illustration">
            Some image
        </div>
    </li>
    <li>
        <div class="content">
        Proceed with de-installing the software. (See below.)
        </div>
        <div class="illustration">
        </div>
    </li>
  </ol>
  <h3>Deinstalling the software</h3>
  <ol class="decimal steps">
    <li>
        <div class="content">
            Go to <code>Start &gt; Programs &gt; The Interactive Classroom &gt; Deinstall Software</code>
        </div>
        <div class="illustration">
        Some image
        </div>
    </li>
    <li>
        <div class="content">
            <p><strong class="warning">Warning: DO NOT close the deinstaller dialog until you have completed ALL the steps here.</strong></p>
            <p><strong>Important: Copy the following entry code into the Computer Tutor deinstallation screen on your computer and complete the deinstallation process.</strong></p>
            <p>The deinstallation entry code depends on your timezone.</p>
            <form class="decorated-fields tabular" action="/profile/timezone" method="POST">
                <label for="timezone">
                    <span class="prefix">Timezone</span>
                    <select name="timezone">
                        {% for timezone in timezones %}
                        <option value="{{ timezone }}" {% if timezone == default_timezone %}selected="selected"{% end %}>{{ timezone }}</option>
                        {% end %}
                    </select>
                </label>
                <input type="submit" name="submit" value="Change Timezone" />
            </form>
            <blockquote>{{ entry_code }} <strong class="warning">(Depends on your timezone.)</strong></blockquote>
        </div>
        <div class="illustration">
        </div>
    </li>
    <li>
        <div class="content">
            The last deinstallation screen should look like the one shown below:
        </div>
        <div class="illustration">
            <img src="{{ MEDIA_URL }}image/screenshot/deinstallation_info.jpg" />
        </div>
    </li>
    <li>
        <div class="content">
            <p>Please fill in the details below before we can proceed</p>
            <form id="math_english_deinstallation_from" action="" method="POST">
                <label for="computer_id">Computer ID</label>
                <input type="text" name="computer_id" value="" />
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>Serial number</th>
                            <th>Activation code</th>
                            <th>Deactivation code</th>
                        </tr>
                        <tr>
                            <td>
                                <label for="sn0">
                                  <span class="prefix"></span>
                                  <input type="text" name="sn0" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="ac0">
                                  <span class="prefix"></span>
                                  <input type="text" name="ac0" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="dc0">
                                  <span class="prefix"></span>
                                  <input type="text" name="dc0" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="sn1">
                                  <span class="prefix"></span>
                                  <input type="text" name="sn1" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="ac1">
                                  <span class="prefix"></span>
                                  <input type="text" name="ac1" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="dc1">
                                  <span class="prefix"></span>
                                  <input type="text" name="dc2" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="sn2">
                                  <span class="prefix"></span>
                                  <input type="text" name="sn2" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="ac2">
                                  <span class="prefix"></span>
                                  <input type="text" name="ac2" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="dc2">
                                  <span class="prefix"></span>
                                  <input type="text" name="dc2" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="sn3">
                                  <span class="prefix"></span>
                                  <input type="text" name="sn3" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="ac3">
                                  <span class="prefix"></span>
                                  <input type="text" name="ac3" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="dc3">
                                  <span class="prefix"></span>
                                  <input type="text" name="dc3" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="sn4">
                                  <span class="prefix"></span>
                                  <input type="text" name="sn4" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="ac4">
                                  <span class="prefix"></span>
                                  <input type="text" name="ac4" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td>
                                <label for="dc4">
                                  <span class="prefix"></span>
                                  <input type="text" name="dc4" value="" class="required" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="submit">
                                  <span class="prefix"></span>
                                  <input type="submit" class="awesome-button" name="submit" value="&#10004; Submit" />
                                  <span class="suffix"></span>
                                </label>
                            </td>
                            <td></td>
                            <td></td>
                        <tr>
                    </tbody>
                </table>
                
          </form>
        </div>
        <div class="illustration">
        </div>
    </li>
  </ol>
</div>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}

