{% extends "base.html" %}

{% block tag_header_content %}
  <h1 class="icon deinstall">Deinstallation for <strong>Junior/Primary/Senior/English Story</strong></h1>
{% end %}

{% block tag_trunk_content %}
<div id="deinstall-maths-english" class="box">
  <h2>Just a minute.  Thank you.</h2>
  <p>Before deinstalling software, please follow these instructions.</p>
  <h3>Steps for uninstalling</h3>
  <ol class="decimal steps">
    <li>
    <div class="content">
    Step 1
    </div>
    <div class="illustration">
    Some image
    </div>
    </li>
    <li>
    <div class="content">
    Step 2
    </div>
    <div class="illustration">
    Some image
    </div>
    </li>
  </ol>
</div>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}

