{% extends "base.html" %}

{% block tag_header_content %}
  <h1 class="icon package">Welcome. <strong>Product activation.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div id="login-or-register">
    <div class="login box">
      <p id="register-link">New user? <a class="awesome-button" href="/register">Register here.</a></p>
      <h2>Existing user? Login.</h2>
      <form id="form-login-subscriber" class="decorated-fields vertical" action="/login" method="POST">
        <label for="email">
          <span class="prefix">Email</span>
          <input type="text" name="login-email" value="" class="required email" />
          <span class="suffix">(eg. john@doe.com)</span>
        </label>
        <label for="password">
          <span class="prefix">Password</span>
          <input type="password" name="login-password" value="" class="required password" />
          <span class="suffix"></span>
        </label>
        <label for="submit">
          <span class="prefix"></span>
          <input type="submit" class="awesome-button login-button" name="submit" value="&#10004; Login" />
          <span class="suffix"></span>
        </label>
      </form>
    </div>
  </div>
{% end %}
{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
