{% extends "base.html" %}

{% block tag_header_content %}
  <h1 class="icon activate">Product Actiavtion <strong>Confirmation.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div id="product-activation">
    <div class="box">
      <h2>you are about to subscribe for the products below.</h2>
      <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick-subscriptions">
        <input type="hidden" name="business" value="sales@mathsworldwide.com.au">
        <input type="hidden" name="currency_code" value="AUD">
        <input type="hidden" name="no_shipping" value="1">
        <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        <input type="hidden" name="a3" value="5.00">amount to be billed on each recurrence 
        <input type="hidden" name="p3" value="1">number of time period between each recurrence
        <input type="hidden" name="t3" value="M">time period(D= if days, W= if weeks, M=if months, Y=if years)
        <input type="hidden" name="src" value="1">
        <input type="hidden" name="sra" value="1">
      </form>
    </div>
  </div>
{% end %}

