{% extends "base.html" %}

{% block navlink_activate_attributes %}class="selected"{% end %}

{% block tag_header_content %}
  <h1 class="icon activate">Activate Products <strong>Click any to select.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div id="dialog-subscription" class="dialog box">
    <h2>Choose subscription</h2>
    <p>Pick from a choice of these subscription periods.</p>
    <form id="form-subscription-period" method="POST" action="/activate/select">
      <label for="period">
        <span class="prefix"></span>
        <select name="period">
          {% for period in subscription_periods %}
          <option value="{{ period.period_in_months }}">{{ period.title }}</option>
          {% end %}
        </select>
        <span class="suffix"></span>
      </label>
      <input type="submit" name="continue" class="awesome-button button-ok" value="&#10004; Continue" />
      <input type="button" name="cancel" class="awesome-button button-cancel" value="&times; Cancel" />
    </form>
  </div>
  <div class="darkbox">
    <ul id="products" class="image-grid">
      {% for product in products %}
      <li>
        <a id="{{ product.key() }}" class="btn-slide" href="#{{ product.key() }}" title="Click on a product to select it">
          <img src="{{ product.icon_url }}" />
          <strong>{{ product.title }}</strong>
          <span>{{ product.subtitle }}</span>
        </a>
      </li>
      {% end %}
    </ul>
  </div>
  <a id="button-activate" href="#" class="awesome-button fresh large">&#10003; Activate</a>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
