{% extends "base.html" %}

{% block navlink_deactivate_attributes %}class="selected"{% end %}

{% block tag_header_content %}
  <h1 class="icon deactivate">Unsubscribe Products <strong>Pick any.</strong></h1>
{% end %}

{% block tag_trunk_content %}
  <div class="panel box">
    <p>Please enter your Serial number and Machine ID or Site Code to unsubscribe to a product</p>
    <form id="form-unsubscribe-products" class="decorated-fields tabular" action="" method="POST">
      <input type="hidden" name="product-id" value="" />
      <label for="serial-number">
        <span class="prefix">Serial Number</span>
        <input type="text" name="serial-number" value="" />
        <span class="suffix"></span>
      </label>
      <label for="machine-id">
        <span class="prefix">Machine ID or Site Code</span>
        <input type="text" name="machine-id" value="" />
        <span class="suffix"></span>
      </label>
      <label for="unsubscription-amount">
        <span class="prefix">Unsubscription  Amount</span>
        <span class="suffix">Some Amount</span>
      </label>
      <input type="button" id="unsubscribe-product-button" name="add-product" class="awesome-button fresh" value="+ Unsubscribe Product" />
      <input type="button" id="cancel-button" name="unload-form" class="awesome-button fresh cancel-button"  value="+ Cancel" onClick/>
    </form>
  </div>
  <div class="darkbox">
    <ul class="image-grid">
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_green.png" />
          <strong>Phonica</strong>
          <span>Advanced English</span>
        </a>
      </li>
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_green.png" />
          <strong>Phonica</strong>
          <span>Elementary English</span>
        </a>
      </li>
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_green.png" />
          <strong>English Story</strong>
          <span>English</span>
        </a>
      </li>
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_blue.png" />
          <strong>Dinamagic</strong>
          <span>Mathematics</span>
        </a>
      </li>
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_blue.png" />
          <strong>Maths Story</strong>
          <span>Junior</span>
        </a>
      </li>
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_blue.png" />
          <strong>Maths Story</strong>
          <span>Primary</span>
        </a>
      </li>
      <li class="slide">
        <a href="#" class="btn-slide">
          <img src="{{ MEDIA_URL }}image/icon/128x128/cd_blue.png" />
          <strong>Maths Story</strong>
          <span>Senior</span>
        </a>
      </li>
    </ul>
  </div>
  <form id="form-deactivate-products" class="decorated-fields vertical">
    <input type="submit" name="deactivate" class="awesome-button warm large" value="&times; Unsubscribe" />
  </form>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
